# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo

# Output data — bada hoga
outputs/

# OS files
.DS_Store
Thumbs.db
*.log

# Environment
.env
*.env